@import "../../variables.scss";

.browse-body {
  position: relative;
  display: flex;
  flex-direction: column;
}

#map {
  height: 400px;
  width: 100%;
}

.title {
  display: flex;
  align-items: center;
}

.browse-open-icon {
  transform: scale(2);
  color: #2ba9bd;
  margin-left: 0.5rem;
}

.browse-open-icon.table {
  transform: scale(0.75);
  color: #2ba9bd;
  margin: 0;
}

.node-title {
  font-size: x-large;
  padding-left: 1rem;
  font-weight: bold;
}

.table-tooltip {
  font-size: small;
}

.triples-table {
  width: 100%;
}

.triples-table > tr:nth-of-type(odd) {
  background-color: #f7f7f7;
}
.triples-table > tr:nth-of-type(even) {
  background-color: #f0f0f3;
}

.object-tr {
  background-color: none !important;
}

.object-td {
  display: block;
  max-height: 12rem;
  overflow-y: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.predicate-td {
  text-align: right;
  width: 15rem;
  padding-right: 1rem;
  vertical-align: top;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.outbound-relations {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.pred-link {
  color: #2c3e50;
  text-decoration: none;
  margin-right: 0.5rem;
}

.obj-link {
  color: #2ba9bd;
  text-decoration: none;
}

.obj-literal {
  color: black;
}

.section-span {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
